export(veganPCoA)
export(ade4PCA)
export(arrows)
export(trans.colors)
export(ellipse)
export(dataPC.plot)
export(MethodLoad)
export(Colorpools)
export(gpColorpools)
export(Grouppointpools)
export(boxline)
export(metaNMDS)
export(Rarefaction)
export(ellipse.Funset)
export(ellipse.car)
export(dataPC3D.plot)
export(minPolygon.plot)
export(alphadiversity)
export(metaCCA)
export(metaCCA.plot)
export(conf.plot)
export(metacentre.plot)
export(corr.plot)
export(volcano.plot)
export(violin.plot)
export(fanplot)
export(venn.plot)
export(heatmap.plot)